<h2>Setup Cookies...</h2>
<img src="<%= image_url('cookie.png') %>" width="400px"/>
<script>
 document.cookie = "token=<%= @player.token %>";
 setTimeout(function() {
   window.location.replace("/");
 }, 1000);
</script>
